*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.nav-border {
  border: 1px solid #c5b3d4; 
  background-color: #c5b3d4;
  width: 100%;
  border-radius: 10px; 
  box-sizing: border-box;
  display: grid;
  padding: 10px 20px;
}

.navbar {
  background-color: #c5b3d4; 
  width: 100%; 
}

.navbar-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%; 
}

.logo {
  
  color: white;
}
.hamburger{
  display:none;
  font-size:30px;
  cursor:pointer;
}
.nav-menu {
  display: grid; 
  grid-auto-flow: column; 
  justify-content: end; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.nav-item {
  padding: 10px 20px;
  margin-right: -4px; 
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item a {
  color: #333;
  text-decoration: none; 
}

.nav-item:hover {
  background-color: rgb(243, 242, 180); 
}
@media (max-width: 500px) {
  .nav-border {
      grid-template-columns: 1fr; 
  }

  .nav-menu {
      display:none;
      grid-auto-flow: row; 
      justify-content: center; 
  }

  .nav-item {
      padding: 5px 10px; 
  }
  .hamburger{
    display:block;
    cursor:pointer;
    border:none;
    background-color: #c5b3d4;
    margin-left: 100px;
  }
  .hamburger .bar
  {
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background-color:#333;
  }
  .nav-menu.active{
    display:block;
  }
}

.about-me-container {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  border: 2px solid #d1b4ea;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #c5b3d4;
  display: grid; 
  grid-template-rows: auto 1fr;
  gap: 10px; 
}

.about-me-heading {
  color: #333;
  font-size: 1.5em;
  border-left: 4px solid #8a2be2;
  padding-left: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

.about-me-content {
  display: grid; 
  grid-template-columns: 0.5fr 1fr; 
  gap: 30px;
  align-items: center; 
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px; 
}

.about-me-image, .about-me-text {
  
  display: block; 
}

.about-me-image img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
  max-width: 275px;
  margin: 0 auto; 
}

.about-me-text {
 
  text-align: left;
  font-size: 16px;
}

.about-me-text h4, .about-me-text p {
  margin: 10px 0; 
  color: #666;
  line-height: 1.6;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 500px) {
  .about-me-content {
    grid-template-columns: 1fr; 
  }
}


.education-section {
  color: #666;
  background-color: #c5b3d4;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #d1b4ea;
  border-radius: 10px; 
  margin-bottom:20px;
  
}
.education-title {
  color: #333;
  font-size: 1.5em;
  border-left: 4px solid #8a2be2;
  padding-left: 8px;
  margin-bottom: 20px;
}
.education-content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
    gap: 30px;
  justify-content: space-between;
}
.education-block {
  width: 83%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 15px;
  background: #f9f9f9;
  
}
.education-header {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
.education-date {
  text-align: right;
  font-style: italic;
  color: #666;
}
.education-degree, .education-cgpa, .education-courses {
  margin: 10px 0;
}

/* Additional Responsiveness for Smaller Screens */
@media (max-width: 500px) {
  .education-content {
      grid-template-columns: 1fr; 
  }
}
.projects-section {
  display: grid; 
  place-items: center; 
  min-height: 500px;
  color: #666;
  background-color: #c5b3d4;
  margin-bottom: 10px;
  margin: auto;
  padding: 20px;
  border: 2px solid #d1b4ea;
  border-radius: 10px;
  grid-template-rows: auto 1fr;
  gap: 20px; 
}

.projects-title {
  color: #333;
  font-size: 1.5em;
  border-left: 4px solid #8a2be2;
  padding-left: 8px;
  margin-bottom: 10px; 
  align-self: start; 
  width: 100%;
}

.projects-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); 
  gap: 20px;
  width: 100%; 
  align-items: start;
  
}

.project-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width:80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
  flex: 0 0 45%;
  align-items: center; 
  min-height:400px;
}

.project-image {
  width: 70%; 
  text-align:center;
  margin-left:10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-card h3, .project-description {
  margin: 10px 0;
}

@media (max-width: 500px) {
  .projects-grid {
      grid-template-columns: 1fr;
  }
}
.experience-section {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 20px; 
  color: #666;
  margin: auto;
  background-color: #c5b3d4;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #d1b4ea;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.experience-title {
  color: #333;
  font-size: 1.5em;
  border-left: 4px solid #8a2be2;
  padding-left: 8px;
 
}

.experience-entry {
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

.experience-header {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline; 
  margin-bottom: 10px; 
}

.role, .company-name, .date-range {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; 
}

/* Responsive adjustments */
@media (max-width: 500px) {
  .experience-entry {
      grid-template-columns: 1fr; 
  }
}
.blog-container {
  display: grid; 
  grid-template-columns: 1fr; 
  color: #666;
  background-color: #fff;
  border: 2px solid #d1b4ea;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.blog-title {
  color: #333;
  font-size: 1.5em;
  border-left: 4px solid #8a2be2;
  padding-left: 8px;
  margin-bottom:10px;
}

.blog-container h1, .blog-container h2 {
  color: #5D5C61;
}

.blog-container ul {
  list-style: inside square;
  padding-left: 20px;
}

.blog-container li {
  margin-bottom: 10px;
}

.blog-container p {
  text-align: justify;
  margin-bottom: 20px;
}
.contact-container {
  display: grid; 
  grid-template-columns: 1fr auto; 
  gap: 20px;
  color: #666;
  border: 2px solid #d1b4ea;
  border-radius: 10px;
  background-color: #c5b3d4;
  align-items: center;
  padding: 20px;
  margin-bottom:20px;
}

.contact-title {
  grid-column: 1 / -1; 
  color: #333;
  font-size: 1.5em;
  border-left: 4px solid #8a2be2;
  padding-left: 8px;
  margin-bottom: 20px; 
}

.contact-info p {
  margin: 0;
  color: #333;
  font-size: 16px;
}

.social-icon {
  padding:5px;
  margin-bottom :20px;
}

.social-icon img {
  width: 50px; 
  height: 50px; 
  margin: 0; 
}

@media (max-width: 500px) {
  .contact-container {
      grid-template-rows: 1fr; 
  }
  .social-icon img {
    width: 20px; 
    height: 20px; 
    margin: 0; 
  }
}
